.modal-img {
  width: 100%;
  margin: 4%;
  border-radius: 8px;
}

button.close {
  display: none;
}

.modal-content {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  border: 5px white outset
}

.modal-title {
  font-size: 30px !important;
  font-weight: bold;
}

