.movie-poster {
  width: 150px;
  border-radius: 8px;
  margin-bottom: 4%;
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.185));
}

.movie-title {
  background-color: black;
  text-align: center;
  padding: 5px;
  margin: 0;
  border-radius: 8px;
}

.movie-div {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 8%;
  font-size: 20px;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bolder;
  align-items: center;
  border: 1px white outset;
  border-radius: 20px;
  background-color: black;
}

.chrono {
  border: 1px #FFDC74 outset;
}

.release {
  border: 1px rgb(111, 50, 121) outset;
}