@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anaheim&display=swap');

body {
  background-color: black;
}

.home-description {
  color: white;
  font-size: 31.5px;
  font-family: 'Alegreya Sans', sans-serif;
}

.row-description {
  margin: 5%;
}

.img-description {
  border-radius: 2px;
  width: 100%;
}

.btn-start {
  background-color: rgb(94, 33, 104);
  border-radius: 0;
  color: rgb(243, 196, 56);
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 6% 0 6% 0;
  letter-spacing: 2px;
}

.btn-start:hover {
  background-color: rgb(77, 11, 87);
  color: white;

}
