@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

body {
  background-color: black;
}

.home-description {
  color: white;
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
}

.row-description {
  margin: 5%;
}

.img-description {
  border-radius: 8px;
  width: 100%;
}
